nav {
    background-color: #fff;
    border-bottom: 2px solid rgb(2, 120, 174, .490);

    a {
        color: #e8654a;
        font-family: 'Fredoka One', cursive;

        span {
            color: #0278ae;
        }
    }
}