<div class="contenedor">

    <nav class="navbar sticky-top navbar-expand-lg py-3 px-4">
      <a class="navbar-brand" href="">Express <span>Notes</span></a>
    
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
              <a routerLinkActive="active" routerLink="/dashboard/safsdfas" class="nav-link"><i class="fas fa-home"></i></a>
              <a routerLinkActive="active" routerLink="exams" class="nav-link"><i class="fas fa-scroll"></i></a>
              <a routerLink="/dashboard/asfsafd" class="nav-link"><i class="fas fa-video"></i></a>
              <a routerLinkActive="active" routerLink="/dashboard/asdasd" class="nav-link"><i class="fas fa-comment-alt"></i></a>
              <a routerLinkActive="active" routerLink="/dashboard/asdasds" class="nav-link"><i class="fas fa-sign-out-alt"></i></a>
          </div>
      </div>
    
    </nav>
    
    <div class="mobile-nav">
        <div class="navbar-nav ml-auto">
            <a routerLinkActive="active" routerLink="/dashboard/safsdfas" class="nav-link"><i class="fas fa-home"></i></a>
            <a routerLinkActive="active" routerLink="exams" class="nav-link"><i class="fas fa-scroll"></i></a>

            <div>
                <a routerLink="/dashboard/asfsafd" class="nav-link"><i class="fas fa-video"></i></a>
            </div>
            
            <a routerLinkActive="active" routerLink="/dashboard/asdasd" class="nav-link"><i class="fas fa-comment-alt"></i></a>
            <a routerLinkActive="active" routerLink="/dashboard/asdasds" class="nav-link"><i class="fas fa-sign-out-alt"></i></a>
        </div>
    </div>

</div>