<app-nav-v2></app-nav-v2>

<div class="contenedor animated fadeIn" [ngClass]="darkMode_bg2">

    <div class="login">
        <div class="p-4">
            <div>
                <div>
                    <h4 class="titulo my-4">Crea una cuenta de estudiante.</h4>
                </div>
                <div>
                    <form [formGroup]="studentForm" (ngSubmit)="saveStudentAccount(studentForm.value)">
                        <div class="input-caja mb-4">
                            <input [ngClass]="darkMode_txt" type="text" formControlName="username" name="username" autocomplete="off" class="" placeholder="Nombre">
                        </div>
                        <div style="color: #ff0000; font-family: 'Open Sans', sans-serif; margin-top: -18px; font-size: 14px;" *ngIf="studentForm.get('username')?.errors && studentForm.get('username')?.touched">

                            <p *ngIf="studentForm.get('username')?.hasError('required')"><i class="fas fa-exclamation mr-2"></i>El nombre es un campo requerido.</p>
                            <p *ngIf="studentForm.get('username')?.hasError('minlength')"><i class="fas fa-exclamation mr-2"></i>El nombre no puede tener menos de 4 caracteres.</p>
                            <p *ngIf="studentForm.get('username')?.hasError('maxlength')"><i class="fas fa-exclamation mr-2"></i>El nombre no puede tener mas de 15 caracteres.</p>

                        </div>

                        <div class="input-caja mb-4">
                            <input [ngClass]="darkMode_txt" type="email" formControlName="email" autocomplete="off" name="email" class="" placeholder="Correo electrónico">
                        </div>

                        <ng-container *ngIf="messageError !== '' ">
                            <div style="color: #ff0000; font-family: 'Open Sans', sans-serif; margin-top: -5px; font-size: 14px;">
                                <p><i class="fas fa-exclamation mr-2"></i>{{ messageError }}</p>
                            </div>
                        </ng-container>
                        
                        <div style="color: #ff0000; font-family: 'Open Sans', sans-serif; margin-top: -18px; font-size: 14px;" *ngIf="studentForm.get('email')?.errors && studentForm.get('email')?.touched">

                            <p *ngIf="studentForm.get('email')?.hasError('required')"><i class="fas fa-exclamation mr-2"></i>El email es un campo requerido.</p>
                            <p *ngIf="studentForm.get('email')?.hasError('email')"><i class="fas fa-exclamation mr-2"></i>Este no es un email valido.</p>

                        </div>

                        <div class="input-caja mb-5">
                            <input [ngClass]="darkMode_txt" type="password" formControlName="password" autocomplete="off" name="password" id="password" placeholder="Contraseña">
                            <button [ngClass]="darkMode_txt" type="button" (click)="viewPassword()"><i [ngClass]="eyeIcon"></i></button>
                        </div>
                        <div class="mb-5" style="color: #ff0000; font-family: 'Open Sans', sans-serif; margin-top: -45px; font-size: 14px;" *ngIf="studentForm.get('password')?.errors && studentForm.get('password')?.touched">

                            <p *ngIf="studentForm.get('password')?.hasError('required')"><i class="fas fa-exclamation mr-2"></i>La contraseña es un campo requerido.</p>
                            <p *ngIf="studentForm.get('password')?.hasError('minlength')"><i class="fas fa-exclamation mr-2"></i>La contraseña no puede tener menos de 6 caracteres.</p>
                            <p *ngIf="studentForm.get('password')?.hasError('maxlength')"><i class="fas fa-exclamation mr-2"></i>La contraseña no puede tener mas de 20 caracteres.</p>

                        </div>

                        <!-- <div class="form-group form-check mb-4" style="margin-top: -25px;">
                            <input formControlName="check" type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1" style="font-size: 15px; color: #0278ae; font-family: 'Fredoka One', cursive;">Debes aceptar la <a routerLink="/privacy-policy" style="color: #e8654a;">política de privacidad</a> para continuar.</label>
                        </div> -->

                        <button type="submit" [disabled]="studentForm.invalid" class="btn p-3 btn-block hvr-grow-shadow"><i class="hvr-icon fas fa-edit mr-2"></i>Registrarse</button>
                        <div class="mt-3">
                            <a routerLink="/signin" style="font-size: 15px; color: #0278ae; font-family: 'Fredoka One', cursive;">¿Ya tienes una cuenta de <span style="color: #e8654a;">Express Notes</span>? Iniciar sesión</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>