<app-nav-v4></app-nav-v4>

<div class="container py-5 animated fadeIn">

    <div>

        <div class="title">
            <h1>POLÍTICA DE PRIVACIDAD</h1>
        </div>

        <div class="text px-5 mt-5">

            <p>&nbsp;</p>
            <p>El presente Política de Privacidad establece los términos en que Express Notes usa y protege la
                información que es proporcionada por sus usuarios al momento de utilizar su sitio web. Esta compañía
                está comprometida con la seguridad de los datos de sus usuarios. Cuando le pedimos llenar los campos de
                información personal con la cual usted pueda ser identificado, lo hacemos asegurando que sólo se
                empleará de acuerdo con los términos de este documento. Sin embargo esta Política de Privacidad puede
                cambiar con el tiempo o ser actualizada por lo que le recomendamos y enfatizamos revisar continuamente
                esta página para asegurarse que está de acuerdo con dichos cambios.</p>
            <p><strong>1. Información que es recogida</strong></p>
            <p>Nuestro sitio web podrá recoger información personal por ejemplo: Nombre,&nbsp; información de contacto
                como&nbsp; su dirección de correo electrónico.</p>
            <p><strong>2. Uso de la información recogida</strong></p>
            <p>Nuestro sitio web emplea la información con el fin de proporcionar el mejor servicio posible,
                particularmente para mantener un registro de usuarios. &nbsp;Es posible que sean enviados correos electrónicos periódicamente a
                través de nuestro sitio con información publicitaria que
                consideremos relevante para usted o que pueda brindarle algún beneficio, estos correos electrónicos
                serán enviados a la dirección que usted proporcione y podrán ser cancelados en cualquier momento.</p>
            <p>Express Notes está altamente comprometido para cumplir con el compromiso de mantener su información
                segura. Usamos los sistemas más avanzados y los actualizamos constantemente para asegurarnos que no
                exista ningún acceso no autorizado.</p>
            <p><strong>3. Enlaces a Terceros</strong></p>
            <p>Este sitio web pudiera contener enlaces a otros sitios que pudieran ser de su interés. Una vez que usted
                de click en estos enlaces y abandone nuestra página, ya no tenemos control sobre el sitio al que es
                redirigido y por lo tanto no somos responsables de los términos o privacidad ni de la protección de sus
                datos en esos otros sitios de terceros. Dichos sitios están sujetos a sus propias políticas de privacidad
                por lo cual es recomendable que los consulte para confirmar que usted está de acuerdo con estas.</p>
            <p><strong>4. Control de su información personal</strong></p>
            <p>Esta compañía no venderá, cederá ni distribuirá la información personal que es recopilada sin su
                consentimiento.</p>
            <p>Express Notes Se reserva el derecho de cambiar los términos de la presente Política de Privacidad en
                cualquier momento.</p>
        </div>

    </div>


</div>

<app-footer></app-footer>