<app-nav-v2></app-nav-v2>

<div class="contenedor animated fadeIn" [ngClass]="darkMode_bg2">

    <div class="form">

        <div class="title mb-3">
            <h2 class="mb-3">Recupera tu cuenta</h2>
            <hr [ngClass]="darkMode_txt" class="mb-4">
            <p [ngClass]="darkMode_txt">Ingresa tu correo electrónico y te enviaremos la contraseña para que recuperes el acceso a tu cuenta.</p>
        </div>

        <form [formGroup]="recoverPassword" (ngSubmit)="recover(recoverPassword.value)">

            <div class="input-caja">
                
                <input type="email" formControlName="email" name="email" autocomplete="off" autofocus="true" placeholder="Correo electrónico">
    
            </div>
            
            <ng-container *ngIf="messageError !== ''">
                <div>
                    <p style="color: #ff0000; font-family: 'Open Sans', sans-serif; margin-top: 8px; font-size: 14px;"><i class="fas fa-exclamation mr-2"></i>{{ messageError }}</p>
                </div>
            </ng-container>
            
            <hr [ngClass]="darkMode_txt" class="mt-4">
    
            <div class="action mt-4">
                <button class="btn px-4 py-2" type="submit" [disabled]="recoverPassword.invalid">Enviar</button>
                <button class="btn px-4 py-2 mr-3" routerLink="/signin">Cancelar</button>
            </div>
            
        </form>


    </div>

</div>

<app-enter-code class="fadeIn animated" [ngStyle]="{'display': showComponent}" [confirmCodeFinal]="confirmCodeFinal" [username]="username" [_id]="_id"></app-enter-code>