<div class="d-flex flex-column align-items-center justify-content-center">
    

    <div class="d-flex flex-row align-items-center justify-content-center">

        <p class="my-auto" style="font-family: 'Fredoka One', cursive; color: #e8654a; font-size: 280px;">4</p>
        
        <video autoplay width="250" height="250" muted loop src="../../../assets/student.mp4"></video>
        
        <p class="my-auto" style="font-family: 'Fredoka One', cursive; color: #e8654a; font-size: 280px;">4</p>

    </div>
    
    <div class="textos">
        
        <div>
            <p>Error al intentar cargar el enlace</p>
        </div>
        <div class="p-2">
            <p>El enlace al que intento acceder no existe o no funciona</p>
        </div>
        <div>
            <a class="btn px-5" routerLink="/">Regresar</a>
        </div>

    </div>


</div>