<div class="contenedor p-3">

    <div class="cards-info py-3">

        <div class="cards px-3 py-4">
            <div class="mb-2">
                <p>16</p>
                <i class="fas fa-users"></i>
            </div>
            
            <span>Estudiantes</span>
        </div>

        <div class="cards px-3 py-4">
            <div class="mb-2">
                <p>5</p>
                <i class="fas fa-user-tie"></i>
            </div>
            
            <span>Maestros</span>
        </div>

        <div class="cards px-3 py-4">
            <div class="mb-2">
                <p>21</p>
                <i class="fas fa-sticky-note"></i>
            </div>
            
            <span>Notas</span>
        </div>

    </div>

    <div class="data-table p-3">
        
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border hover">
            <thead>
              <tr>
                <th>NO.</th>
                <th>imagen</th>
                <th>Nombre de usuario</th>
                <th>Correo electrónico</th>
                <th>Role</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of lista">
                  <td>{{ item.id }}</td>
                  <td><i class="fas fa-user-tie"></i></td>
                  <td>{{ item.username }}</td>
                  <td>{{ item.email }}</td>
                  <td><span class="badge p-2 px-3 badge-pill">Maestro</span></td>
              </tr>
            </tbody>
        </table>

    </div>

</div>