@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

.container {
    margin: 60px auto;

    ul {

        li {
            box-shadow: 0 3px 9px 0 rgba(31, 38, 135, 0.347);
            border-left: 2px solid rgb(2, 120, 174, .490);
            border-right: 2px solid rgb(2, 120, 174, .490);
            border-top: none;
            border-bottom: none;
            border-radius: 8px;

            div:nth-child(1) {
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    color: rgba(57, 62, 70, 0.514);
                    font-size: 30px;
                }
            }

            div:nth-child(2) {
                margin: 0 auto 0 15px;

                p:nth-child(1) {
                    font-family: 'Open Sans', sans-serif;
                    margin: 0 0 2px 0;
                    color: #0277ae
                }

                p:nth-child(2) {
                    font-family: 'Open Sans', sans-serif;
                    margin: 0;
                    font-size: 14px;
                    color: rgba(57, 62, 70, 0.614);
                }
                
            }
        }
    }
}